@tailwind base;
@tailwind components;
@tailwind utilities;

.swal2-popup {
  font-family: Arial, sans-serif !important;
  font-size: 1rem !important;
  line-height: 1.5 !important;
  box-sizing: border-box !important;
  padding: 1.25em !important;
  background-color: white !important;
  border-radius: 0.5rem !important;
  color: #545454 !important;
}

.swal2-title {
  font-size: 1.5rem !important;
  font-weight: bold !important;
  margin-bottom: 1rem !important;
}

.swal2-icon {
  margin: 1.25em auto !important;
}

.swal2-actions .swal2-confirm {
  font-size: 1rem !important;
  background-color: #429f50 !important;
  color: white !important;
  padding: 0.5em 1.25em !important;
  border-radius: 0.25rem !important;
  cursor: pointer;
}

.swal2-actions .swal2-cancel {
  font-size: 1rem !important;
  color: #555 !important;
  padding: 0.5em 1.25em !important;
  cursor: pointer;
}
